.table-container {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

th {
  border: 1px solid #e0e0e0;
  background-color: #14A098;
  color: white;
}

.icon {
  color: #cb2d6f;
}

.table-container::-webkit-scrollbar {
  height: 7px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #14A098;
}

.mat-header-row {
  height: auto;
}

.mat-header-cell {
  padding: 5px;
  font-size: 14px;
}

.mat-header-cell, .mat-footer-cell {
  padding: 0 8px 0 8px;
  text-align: center;
}

.mat-cell {
  padding: 0 8px 0 8px;
}

.numeric {
  text-align: right;
}

.one-line-wrapper {
  white-space:nowrap;
  overflow:hidden;
}

tr.mat-row {
  height: 24px;
  font-weight: bold;

}

tr.mat-row:nth-child(even){
  background-color: white
}

tr.mat-row:nth-child(odd){
  background-color: rgb(236, 240, 236)
}

.table-container tr.mat-footer-row {
  background-color: rgb(236, 240, 236);
}

th.mat-header-cell {
  font-size: x-small;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-color: white;
}

td.mat-footer-cell {
  font-size: xx-small;
}

tr.mat-footer-row {
  font-size: xx-small;
}

td.mat-cell{
  font-size: xx-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-wrapper {
  max-height: calc(100vh - 240px);
  overflow: auto;
}

th .mat-table-sticky:first-child {
  border: 1px solid #e0e0e0;
}
