<div>
  <div class="row">
    <div class="col-lg-8">
      <div>
        <h5 *ngIf="title">{{title}}</h5>
        <p *ngIf="subtitle">{{subtitle}}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="d-flex">
        <i class="icon ml-auto mt-1" [ngClass]="icon" matTooltip="Download Report" (click)="exportExcel()"></i>
      </span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12">
      <input matInput class="form-group form-control" type="text" [formControl]="filter" placeholder="Search Contract">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="table-container table-wrapper mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table id="sensitivity-analysis-table">
          <ng-container matColumnDef="cif">
            <th *matHeaderCellDef mat-header-cell> CIF No</th>
            <td *matCellDef="let element" mat-cell>{{element.cif}}</td>
            <td mat-footer-cell *matFooterCellDef [colSpan]="2"> Total</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customerName}}</td>
          </ng-container>
          <ng-container matColumnDef="os_lkr">
            <th *matHeaderCellDef mat-header-cell> O/S LKR</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.osLKR | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{totalOsLKR | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="impairment">
            <th *matHeaderCellDef mat-header-cell> Impairment</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.impairment | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{totalImpairment | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="impairment_advancement">
            <th *matHeaderCellDef mat-header-cell> Impairment CF Advancement</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.impairmentAdvancement | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{totalImpairmentAdvancement | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="impairment_differment">
            <th *matHeaderCellDef mat-header-cell> Impairment CF Differment</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.impairmentDifferment | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{totalImpairmentDifferment | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="sensitivity_advancement">
            <th *matHeaderCellDef mat-header-cell> Sensitivity CF Advancement</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.sensitivityAdvancement | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{totalSensitivityAdvancement | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="sensitivity_differment">
            <th *matHeaderCellDef mat-header-cell> Sensitivity CF Differment</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.sensitivityDifferment | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{totalSensitivityDifferment | number: '1.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="noRecord">
            <td [colSpan]="8" style="font-weight: normal;" mat-footer-cell *matFooterCellDef
                [hidden]="dataSource.filteredData.length!==0">No records found.
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row class="table-header"></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <tr mat-footer-row [hidden]="dataSource.filteredData.length===0"
              *matFooterRowDef="footerDisplayedColumns"></tr>
          <ng-container>
            <tr [hidden]="dataSource.filteredData.length!==0" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
          </ng-container>
        </table>
      </div>
      <!--      <mat-paginator class="w-100" [pageSizeOptions]="[15]" [hidePageSize]="true" showFirstLastButtons></mat-paginator>-->
    </div>
  </div>
</div>
