@import "../reports";

tr:nth-child(1) th.mat-header-cell {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
tr th.mat-header-cell:nth-child(1){
  left: 0 !important;
  z-index: 25 !important;
}
tr:nth-child(2) th.mat-header-cell {
  position: sticky;
  position: -webkit-sticky;
  top: 15px;
}
tr:nth-child(1) td:nth-child(1), tr:nth-child(2) td:nth-child(1) {

}
th.mat-table-sticky:first-child {
  z-index: 20 !important;
}

//td.mat-footer-cell {
//  position: unset !important;
//}

td.mat-cell:first-child{
  z-index: 19 !important;
}

//tr.mat-footer-row:nth-child(1) td.mat-footer-cell {
//  position: sticky !important;
//  position: -webkit-sticky !important;
//  bottom: 0;
//  z-index: 21;
//}
tr.mat-footer-row:nth-child(2) td.mat-footer-cell, tr.mat-footer-row:nth-child(1) td.mat-footer-cell  {
  position: sticky !important;
  background: inherit !important;
  position: -webkit-sticky !important;
  bottom: 0;
  z-index: 21;
}

tr td.mat-cell:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 1;
  background: inherit !important;
}
