<div>
  <div class="row">
    <div class="col-lg-8">
      <div>
        <h5 *ngIf="title">{{title}}</h5>
        <p *ngIf="subtitle">{{subtitle}}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="d-flex">
        <i class="icon ml-auto mt-1" [ngClass]="icon" matTooltip="Download Report" (click)="exportExcel()"></i>
      </span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12">
      <input matInput class="form-group form-control" type="text" [formControl]="filter" (input)="onSearch($event.target.value)" placeholder="Search Contract">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="table-container table-wrapper mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table id="cashflow-table">
          <ng-container matColumnDef="cif">
            <th *matHeaderCellDef mat-header-cell> CIF No</th>
            <td *matCellDef="let element" mat-cell>{{element.customer.cif}}</td>
            <td mat-footer-cell *matFooterCellDef [colSpan]="9"> Total</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.name}}</td>
          </ng-container>
          <ng-container matColumnDef="accno">
            <th *matHeaderCellDef mat-header-cell> Contract / Loan Acc No</th>
            <td *matCellDef="let element" mat-cell> {{element.facility.accountNo}}</td>
          </ng-container>
          <ng-container matColumnDef="scheme">
            <th *matHeaderCellDef mat-header-cell> Scheme</th>
            <td *matCellDef="let element" mat-cell> {{element.facility.schemaCode}}</td>
          </ng-container>
          <ng-container matColumnDef="intrate">
            <th *matHeaderCellDef mat-header-cell> Int Rate</th>
            <td *matCellDef="let element" mat-cell> {{element.facility.interest | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="currency">
            <th *matHeaderCellDef mat-header-cell> Currency</th>
            <td *matCellDef="let element" mat-cell> {{element.facility.currency}}</td>
          </ng-container>
          <ng-container matColumnDef="cf_methodology">
            <th *matHeaderCellDef mat-header-cell> CF Method</th>
            <td *matCellDef="let element" mat-cell> {{element.cashFlowType}}</td>
          </ng-container>

          <ng-container matColumnDef="os_original_curr">
            <th *matHeaderCellDef mat-header-cell> O/S Original Curr</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{element.facilityCashFlow.osBalance | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="provision_original_curr">
            <th *matHeaderCellDef mat-header-cell> Provision Original Curr</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{element.facilityCashFlow.provision | number: '1.2-2'}}</td>
          </ng-container>
          <ng-container matColumnDef="os_lkr">
            <th *matHeaderCellDef mat-header-cell> O/S LKR</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{(element.facilityCashFlow.osBalance * element.facilityCashFlow.currencyRate) | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{calculateTotalOSLKR() | number: '1.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="provision_lkr">
            <th *matHeaderCellDef mat-header-cell> Provision LKR</th>
            <td class="numeric" *matCellDef="let element"
                mat-cell> {{element.facilityCashFlow.provisionLKR | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef>{{calculateTotalProvisionLKR() | number: '1.2-2'}}</td>
          </ng-container>

          <ng-container *ngFor="let cashFlowElement of projectionColumns;let index=index"
                        [matColumnDef]="cashFlowElement">
            <th *matHeaderCellDef
                mat-header-cell> {{cashFlowElement.replace('_', '-')}} </th>
            <td class="numeric" *matCellDef="let element" mat-cell>
              {{getValueForFacilityCashFlowElement(element.facilityCashFlow.facilityCashFlowElements, cashFlowElement) | number: '1.2-2'}}
            </td>
            <td mat-footer-cell *matFooterCellDef [colSpan]="projectionColumns.length"></td>

          </ng-container>
          <ng-container matColumnDef="noRecord">
            <td [colSpan]="11+projectionColumns.length" style="font-weight: normal;" mat-footer-cell *matFooterCellDef
                [hidden]="dataSource.filteredData.length!==0">No records found.
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row class="table-header"></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <tr mat-footer-row [hidden]="dataSource.filteredData.length===0"
              *matFooterRowDef="['cif', 'os_lkr', 'provision_lkr', projectionColumns[0]]"></tr>
          <ng-container>
            <tr [hidden]="dataSource.filteredData.length!==0" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
          </ng-container>
        </table>
      </div>
      <!--      <mat-paginator class="w-100" [pageSizeOptions]="[15]" [hidePageSize]="true" showFirstLastButtons></mat-paginator>-->
    </div>
  </div>
</div>
