@import "../reports";

.mat-list-item {
  font-size: 13px;
  height: auto;
}
tr:nth-child(2) th.mat-header-cell {
  position: sticky;
  position: -webkit-sticky;
  top: 15px;
}
th.mat-header-cell:nth-child(1) {
  z-index: 20 !important;
}
.custom-tooltip {
  //background: white !important;
  //color: #2a2a2a !important;
  //border: 1px solid #2a2a2a;
}
::ng-deep .mat-tooltip{

}
