<div>
  <div class="row">
    <div class="col-lg-8">
      <div>
        <h5 *ngIf="title">{{title}}</h5>
        <p *ngIf="subtitle">{{subtitle}}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="d-flex">
        <i class="icon ml-auto mt-1" [ngClass]="icon" matTooltip="Download Report" (click)="exportExcel()"></i>
      </span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12">
      <input matInput class="form-group form-control" type="text" [formControl]="filter" placeholder="Search Assessment">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="table-container table-wrapper mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table id="report-table">
          <ng-container matColumnDef="cif_header" sticky>
            <th *matHeaderCellDef mat-header-cell [rowSpan]="2"> CIF No</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.cif}}</td>
            <td mat-footer-cell *matFooterCellDef [colSpan]="2"> Total</td>
          </ng-container>
          <ng-container matColumnDef="name_header">
            <th *matHeaderCellDef mat-header-cell [rowSpan]="2"> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.name}}</td>
          </ng-container>
          <ng-container matColumnDef="business_decision_header">
            <th *matHeaderCellDef mat-header-cell [rowSpan]="2"> Business Decision</th>
            <td *matCellDef="let element" mat-cell> {{element.businessDecision}}</td>
          </ng-container>
          <ng-container matColumnDef="cif" sticky>
            <th *matHeaderCellDef mat-header-cell [ngStyle]="{'display': 'none'}"> CIF No</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.cif}}</td>
            <!--      <td mat-footer-cell *matFooterCellDef [colSpan]="2"> Total </td>-->
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell [ngStyle]="{'display': 'none'}"> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.name}}</td>
          </ng-container>
          <ng-container matColumnDef="business_decision">
            <th *matHeaderCellDef mat-header-cell [ngStyle]="{'display': 'none'}"> Business Decision</th>
            <td *matCellDef="let element" mat-cell> {{element.businessDecision}}</td>
          </ng-container>
          <i class="icon ml-auto mt-1" #tooltip="matTooltip" (mouseenter)="showTooltip(tooltip)" (mouseleave)="hideTooltip(tooltip)" [ngClass]="icon"
             matTooltip="Info about the action" (click)="exportExcel()"></i>
          <ng-container *ngFor="let qs of questions;let index=index" [matColumnDef]="qs.id.toString()">
            <th *matHeaderCellDef mat-header-cell>
              <span style="width: 100%; height: 100%; display: block;" *ngIf="questions" matTooltipPosition="left"
                    #tooltip="matTooltip" (mouseenter)="showTooltip(tooltip)" (mouseleave)="hideTooltip(tooltip)"
                    [matTooltip]="qs.prompt" matTooltipClass="custom-tooltip">
              {{index + 1}}
            </span></th>
            <td class="text-center" *matCellDef="let element" mat-cell>
              <span class="status-tag"
                    [ngClass]="{'status-success':!getQuestionResponseById(
                    element.questionnaireResponse.questions, qs.id).response.answer,
                     'status-danger':getQuestionResponseById(
                     element.questionnaireResponse.questions, qs.id).response.answer}">
                {{getQuestionResponseById(element.questionnaireResponse.questions, qs.id).response.answer ?
                'YES' : 'NO'}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="evidences">
            <th mat-header-cell *matHeaderCellDef [colSpan]="questions.length"> Objective Evidences</th>
          </ng-container>

          <ng-container matColumnDef="noRecord">
            <td [colSpan]="questions.length+3" mat-footer-cell *matFooterCellDef [hidden]="dataSource.filteredData.length!==0">
              No records found.
            </td>
          </ng-container>

          <tr mat-header-row class="table-header"
              *matHeaderRowDef="['cif_header', 'name_header', 'business_decision_header', 'evidences']"></tr>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row class="table-header"></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <ng-container>
            <tr [hidden]="dataSource.filteredData.length!==0" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
          </ng-container>
        </table>


      </div>
    </div>
  </div>
  <table style="display: none" [dataSource]="questionnaireDataSource" mat-table id="questionnaire-table">
    <ng-container matColumnDef="no">
      <th *matHeaderCellDef mat-header-cell> Qs No</th>
      <td *matCellDef="let element; let i = index" mat-cell> {{i + 1}}</td>
      <td mat-footer-cell *matFooterCellDef> Total</td>
    </ng-container>
    <ng-container matColumnDef="prompt">
      <th *matHeaderCellDef mat-header-cell> Question</th>
      <td *matCellDef="let element" mat-cell> {{element.prompt}}</td>
    </ng-container>

    <tr *matHeaderRowDef="['no', 'prompt']" mat-header-row></tr>
    <tr *matRowDef="let row; columns: ['no', 'prompt'];" mat-row></tr>
  </table>
</div>
