<div>
  <div class="row">
    <div class="col-lg-8">
      <div>
        <h5 *ngIf="title">{{title}}</h5>
        <p *ngIf="subtitle">{{subtitle}}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="d-flex">
        <i class="icon ml-auto mt-1" #tooltip="matTooltip" (mouseenter)="showTooltip(tooltip)" (mouseleave)="hideTooltip(tooltip)" [ngClass]="icon"
           matTooltip="Info about the action" (click)="exportExcel()"></i>
      </span>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-12">
        <input matInput class="form-group form-control" type="text" [formControl]="filter" placeholder="Search Assessment">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="table-container table-wrapper mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table id="report-table">
          <ng-container matColumnDef="cif_header">
            <th *matHeaderCellDef mat-header-cell [rowSpan]="2"> CIF No</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.cif}}</td>
            <td mat-footer-cell *matFooterCellDef [colSpan]="2"> Total</td>
          </ng-container>
          <ng-container matColumnDef="name_header">
            <th *matHeaderCellDef mat-header-cell [rowSpan]="2"> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.name}}</td>
          </ng-container>
          <ng-container matColumnDef="cif">
            <th *matHeaderCellDef mat-header-cell [ngStyle]="{'display': 'none'}"> CIF No</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.cif}}</td>
            <!--      <td mat-footer-cell *matFooterCellDef [colSpan]="2"> Total </td>-->
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell [ngStyle]="{'display': 'none'}"> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.name}}</td>
          </ng-container>
          <ng-container matColumnDef="prev_assessment_os">
            <th *matHeaderCellDef mat-header-cell> O/S LKR</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{(element.previousAssessment!==null?element.previousAssessment.os:0) | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef> {{getPreviousAssessmentOSTotal() | number: '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="prev_assessment_provision">
            <th *matHeaderCellDef mat-header-cell> Provision LKR</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{(element.previousAssessment!==null?element.previousAssessment.provision:0) | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell
                *matFooterCellDef> {{getPreviousAssessmentProvisionTotal() | number: '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="assessment_os">
            <th *matHeaderCellDef mat-header-cell> O/S LKR</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{element.assessment.os | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef> {{getAssessmentOSTotal()| number: '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="assessment_provision">
            <th *matHeaderCellDef mat-header-cell> Provision LKR</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{element.assessment.provision | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef> {{getAssessmentProvisionTotal() | number: '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="p&l_charge_header">
            <th *matHeaderCellDef mat-header-cell [rowSpan]="2"> P&L Charge</th>
            <td *matCellDef="let element" mat-cell> {{calculatePLCharge(element.assessment, element.previousAssessment)}}</td>
          </ng-container>
          <ng-container matColumnDef="pl_charge">
            <th *matHeaderCellDef mat-header-cell [ngStyle]="{'display': 'none'}"> P&L Charge</th>
            <td class="numeric" *matCellDef="let element" mat-cell> {{calculatePLCharge(element.assessment, element.previousAssessment) | number: '1.2-2'}}</td>
            <td class="numeric" mat-footer-cell *matFooterCellDef> {{getPLChargeTotal() | number: '1.2-2'}} </td>
          </ng-container>
          <ng-container matColumnDef="projection_method">
            <th *matHeaderCellDef mat-header-cell> Projection Method</th>
            <td *matCellDef="let element" mat-cell> {{element.projectionMethod}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th *matHeaderCellDef mat-header-cell> Value</th>
            <td *matCellDef="let element" mat-cell> {{element.value | number: '1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell> Date</th>
            <td *matCellDef="let element" mat-cell> {{element.lastDate | date}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="prev_assessment">
            <th mat-header-cell *matHeaderCellDef [colSpan]="2"> Prev Assessment</th>
          </ng-container>

          <ng-container matColumnDef="assessment">
            <th mat-header-cell *matHeaderCellDef [colSpan]="2"> Assessment</th>
          </ng-container>

          <ng-container matColumnDef="cf_methodology">
            <th mat-header-cell *matHeaderCellDef [colSpan]="3"> CF Methodology</th>
          </ng-container>
          <ng-container matColumnDef="noRecord">
            <td [colSpan]="10" style="font-weight: normal;" mat-footer-cell *matFooterCellDef
                [hidden]="dataSource.filteredData.length!==0">No records found.
            </td>
          </ng-container>

          <tr mat-header-row class="table-header"
              *matHeaderRowDef="['cif_header', 'name_header', 'prev_assessment', 'assessment', 'p&l_charge_header', 'cf_methodology']"></tr>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row class="table-header"></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <ng-container>
            <tr mat-footer-row [hidden]="dataSource.filteredData.length===0"
                *matFooterRowDef="['cif_header','prev_assessment_os', 'prev_assessment_provision', 'assessment_os', 'assessment_provision', 'pl_charge', 'projection_method', 'value', 'date']; sticky: true"></tr>
          </ng-container>
          <ng-container>
            <tr [hidden]="dataSource.filteredData.length!==0" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>
