@import "../reports";

th .mat-table-sticky:first-child {
  border: 1px solid #e0e0e0;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

tr.mat-footer-row {
  font-weight: bold;
}

tr:nth-child(1) th.mat-header-cell {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
tr:nth-child(2) th.mat-header-cell {
  position: sticky;
  position: -webkit-sticky;
  top: 15px;
}

tr.mat-footer-row:nth-child(2) td.mat-footer-cell, tr.mat-footer-row:nth-child(1) td.mat-footer-cell  {
  position: sticky !important;
  background: inherit !important;
  position: -webkit-sticky !important;
  bottom: 0;
  z-index: 21;
}
tr td.mat-cell:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 1;
  background: inherit !important;
}

th.mat-header-cell:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 2;
}
