<div>
  <div class="row">
    <div class="col-lg-8">
      <div>
        <h5 *ngIf="title">{{title}}</h5>
        <p *ngIf="subtitle">{{subtitle}}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <span class="d-flex">
        <i class="icon ml-auto mt-1" [ngClass]="icon" matTooltip="Download Report" (click)="exportExcel()" ></i>
      </span>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-12">
      <input matInput class="form-group form-control" type="text" [formControl]="filter" placeholder="Search Assessment">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-12">
      <div class="table-container table-wrapper mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table id="report-table">
          <ng-container matColumnDef="cif">
            <th *matHeaderCellDef mat-header-cell> CIF No</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.cif}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{element.customer.name}}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let element" mat-cell> {{element.status}}</td>
          </ng-container>
          <ng-container matColumnDef="segment">
            <th *matHeaderCellDef mat-header-cell> Segment</th>
            <td *matCellDef="let element" mat-cell> {{element.segment===''?'-':element.segment}}</td>
          </ng-container>
          <ng-container matColumnDef="arm">
            <th *matHeaderCellDef mat-header-cell> ARM / Innitiator</th>
            <td *matCellDef="let element" mat-cell> {{element.arm===''?'-':element.arm}}</td>
          </ng-container>
          <ng-container matColumnDef="business_approver">
            <th *matHeaderCellDef mat-header-cell> Business Approver</th>
            <td *matCellDef="let element" mat-cell> {{element.businessApprover===''?'-':element.businessApprover}}</td>
          </ng-container>
          <ng-container matColumnDef="risk_reviewer">
            <th *matHeaderCellDef mat-header-cell> Risk Reviewer</th>
            <td *matCellDef="let element" mat-cell> {{element.riskReviewer===''?'-':element.riskReviewer}}</td>
          </ng-container>
          <ng-container matColumnDef="noRecord">
            <td [colSpan]="7" mat-footer-cell *matFooterCellDef [hidden]="dataSource.filteredData === null
            ?false:dataSource.filteredData.length!==0">No records
              found.
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          <ng-container>
            <tr [hidden]="dataSource.filteredData === null
            ?false:dataSource.filteredData.length!==0" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</div>
