@import "../reports";

.mat-list-item {
  font-size: 14px;
}

.evidence {
  margin-top: 0;
  margin-bottom: 0;
}

.mat-column-initiatorComment, .mat-column-businessApproverComment, .mat-column-riskReviewerComment {
  max-width: 250px;
  min-width: 170px
}

.mat-column-objectiveEvidence {
  max-width: 300px;
  min-width: 250px
}

.multi-line-text {
  word-break: break-all;
  white-space: normal;
}

//.test1{
//  width: 100%; word-wrap:break-word;
//  table-layout: fixed;
//}
